.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;

  .image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }
}
