.btn {
  max-width: 340px;
  font-size: 24px;
  line-height: 29px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accounts-title {
  margin-bottom: 15px;
}

.accounts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
