.input-name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  line-height: 29px;

  p {
    font-size: 18px;
  }
}

.btn {
  max-width: 400px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
}
