.block {
  padding: 17px 40px;
  margin-bottom: 17px;
  max-width: 370px;
  width: 100%;
  background-color: var(--light-gray);
}

.value {
  font-size: 20px;
  text-transform: uppercase;
}

.label {
  font-size: 16px;
}
