.container {
  align-items: center;
  margin: 0;
  max-width: 100%;
  background: url('./src/assets/img/main-bg-left.svg') -30% -50% no-repeat,
    url('./src/assets/img/main-bg-right.svg') 135% 130% no-repeat;
  background-color: #f2f2f2;
}
