.root {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 50px;
  max-width: 1000px;
  width: 100%;

  .top {
    display: flex;
    gap: 20px;

    // .title-label {
    //   display: flex;
    // }
  }

  .services {
    display: flex;
    gap: 20px;
  }

  .bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;

    .status {
      display: flex;
      flex-direction: column;

      span {
        font-size: 20px;
      }
    }

    .btn {
      max-width: 300px;
    }
  }
}
