.root {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 30px;
  width: 100%;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    padding: 30px;
    border-radius: 30px;
    font-size: 20px;

    p {
      font-size: 16px;
      color: var(--red);
    }

    & > * {
      flex: 1;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    gap: 20px;

    .btn {
      max-width: 390px;
      border-radius: 15px;
    }
  }
}
