.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 628px;
  padding: 50px 40px;
  font-size: 20px;
  text-transform: uppercase;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.includes {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__items {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.number {
  display: flex;
  justify-content: space-between;
}
