.btn {
  display: block;
  padding: 0.6em 1.2em;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 1em;
  line-height: 1.25;
  text-align: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--btn-hover-color);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &-primary {
    color: var(--secondary-text-color);
    background-color: var(--btn-bg-color);
  }

  &-secondary {
    color: rgba(var(--black), 0.6);
    background-color: var(--light-gray);
  }
}
