.btn {
  display: block;
  padding: 0.6em 1.2em;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 1em;
  line-height: 1.25;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &-primary {
    color: var(--secondary-text-color);
    background-color: var(--primary-btn-bg-color);

    &:hover,
    &:focus,
    &:focus-visible {
      color: var(--white);
      background-color: var(--primary-btn-hover-focus-color);
    }

    &:active {
      color: var(--white);
      background-color: var(--primary-btn-active-color);
    }
  }

  &-secondary {
    color: var(--primary-text-color);
    background-color: var(--light-gray);

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--secondary-btn-hover-focus-color);
    }

    &:active {
      background-color: var(--secondary-btn-active-color);
    }
  }

  &-alternative {
    color: var(--black);
    background-color: var(--alternative-btn-bg-color);

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--alternative-btn-hover-focus-color);
    }

    &:active {
      background-color: var(--alternative-btn-active-color);
    }
  }
}
