.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 370px;
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  padding: 85px 50px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.includes {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__items {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.number {
  display: flex;
  justify-content: space-between;
}
.basic {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: var(--light-gray);
  font-size: 20px;
}
.list {
  display: flex;
  flex-direction: row;
}
