.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.btn {
  max-width: 225px;
  width: 100%;
  font-size: 16px;
}
