.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-self: center;
  padding: 60px 120px;
  max-width: 640px;
  border-radius: 20px;

  h1 {
    text-align: center;
    font-size: 28px;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 35px;

    p {
      color: var(--red);
    }
  }

  .btn {
    max-width: 400px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
  }
}
