.block {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  padding-right: 30px;
  min-width: 440px;
  width: max-content;
  color: var(--white);
  background-color: var(--red);

  div {
    display: flex;
    flex-direction: column;
  }

  span {
    font-size: 24px;
  }

  .avatar {
    circle {
      fill: var(--white);
    }
  }

  .logout-btn {
    padding: 0;
    max-width: max-content;
    border: none;
    border-radius: 1px;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;

      .logout-arrow {
        transform: translateX(5px);
      }
    }

    .logout-icon {
      margin-left: auto;
      width: 40px;
      height: 40px;
      cursor: pointer;

      .logout-arrow {
        transition: transform 0.15s ease-in-out;
      }
    }
  }
}
