.block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 0;
  max-width: 1400px;
  width: 100%;
  font-size: 20px;
}
.carts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  max-width: 950px;
  width: 100%;
}

.change {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  .price-info {
    p {
      text-align: center;
    }
  }
}

.button {
  padding: 15px;
  max-width: 200px;
  width: 100%;
  border-radius: 20px;
}
