.block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 25px;
  row-gap: 20px;
  padding: 15px 25px;
  border-radius: 0;

  input,
  button {
    max-width: 400px;
  }

  .filters {
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }

  .filters-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    width: 100%;
    font-size: 20px;

    span {
      align-self: center;
    }
  }

  .btns {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;

    .btn {
      padding: 10px;
      max-width: 400px;
      max-height: 50px;
      font-size: 24px;

      &-clear {
        background-color: var(--light-gray);
      }
    }
  }
}
