.block {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 20px;
  padding: 15px 25px;
  border-radius: 0;

  input,
  button {
    max-width: 400px;
  }

  .filters-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;

    span {
      align-self: center;
    }
  }

  .btn {
    padding: 10px;
    max-height: 50px;
    font-size: 24px;

    &-clear {
      background-color: var(--light-gray);
    }
  }
}
