.footer {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: auto;
  width: 100%;

  .white-line {
    width: 100%;
    border-radius: 0;
  }

  .block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    margin: 0;
  }
}

.cookies-text {
  max-width: 645px;
  width: 100%;
  color: var(--darker-gray);
}
