.block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 40px;
  padding-right: 90px;
  max-width: 628px;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
}

.delete {
  position: absolute;
  top: 35px;
  right: 35px;
  color: var(--dark-gray);
}

.services {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.includes {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.phone-wrapper {
  display: flex;
  justify-content: space-between;
}

.phone {
  text-decoration: underline;
}
