.block {
  position: relative;
  display: flex;

  flex-direction: column;
  gap: 24px;
  width: 628px;
  padding: 50px 40px;
  padding-right: 90px;
  font-size: 20px;
  text-transform: uppercase;
}
.delete {
  position: absolute;
  top: 35px;
  right: 35px;
  color: var(--dark-gray);
}

.services {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.includes {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__items {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.number {
  display: flex;
  justify-content: space-between;
}

.phone {
  text-decoration: underline;
}
