.title {
  margin-bottom: 30px;
  padding: 36px 0;
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--block-bg-color);
}
