.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 370px;
  width: 100%;
  text-transform: uppercase;

  // padding: 85px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  text-transform: uppercase;
}
.button {
  font-size: 16px;
  text-transform: uppercase;
}
.background {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.remains {
  display: flex;

  justify-content: space-between;
  background-color: var(--light-gray);
  font-size: 20px;

  padding: 15px;
}
