.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 470px;
  width: 100%;
  min-height: 435px;
  height: 100%;
  font-size: 20px;
  padding: 25px 50px;
}

.header {
  display: flex;
  justify-content: space-between;

  text-transform: uppercase;
}
.button {
  padding: 15px;
  text-transform: uppercase;
  max-width: 200px;
  width: 100%;
}
.background {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  min-height: 60px;
  height: 100%;
}
.remains {
  display: flex;
  max-width: 300px;
  width: 100%;
  justify-content: space-between;
  background-color: var(--light-gray);

  padding: 15px;
}
.unlimited-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
