.block {
  max-width: 460px;
  width: 100%;

  h2 {
    margin-bottom: 36px;
    font-size: 20px;
  }
}

.red-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 370px;
  width: 100%;
  background-color: var(--primary-color);

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  span {
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
  }
}

.promised-balance-button {
  padding: 10px 62px;
  background-color: var(--light-gray);
  color: var(--black);
  border-radius: 10px;
  font-size: 16px;
  &:hover {
    background-color: var(--btn-hover-color);
    color: var(--white);
  }
}
.add-balance-button {
  padding: 10px 67px;
  color: var(--black);
  background-color: var(--white);
  border-radius: 10px;
  font-size: 16px;
  &:hover {
    background-color: var(--btn-hover-color);
    color: var(--white);
  }
}
